<ion-header color="tertiary">
  <ion-toolbar>
    <ion-title>
      Ofertas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header text-center>
            <img class="img_cat" src="assets/cat/game.png"/>
            <ion-button [routerLink]="['/producto/uncharted']">Uncharted</ion-button>
          </ion-card-header>
          <ion-card-content>
            <p>
              Desde los innovadores narradores de Naughty Dog, llega esta historia épica que define al género y que ha revolucionado las historias de...
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header text-center>
            <img class="img_cat" src="assets/cat/video.png"/>
            <ion-button [routerLink]="['/producto/sentido-vida']">El sentido de la vida</ion-button>
          </ion-card-header>
          <ion-card-content>
            <p>
              Conjunto de episodios que muestran de forma disparatada los momentos más importantes del ciclo de la vida...
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header text-center>
              <img class="img_cat" src="assets/cat/music.png"/>
              <ion-button [routerLink]="['/producto/back-in-black']">Back in Black</ion-button>
            </ion-card-header>
            <ion-card-content>
              <p>
                Hace 35 años, a fines de abril de 1980, se publicó “Back in Black”, disco que se transformaría en una leyenda del hard rock no solo por sus...
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header text-center>
              <img class="img_cat" src="assets/cat/heart.png"/>
              <ion-button [routerLink]="['/producto/canyon-300']">Bici Canyon 300</ion-button>
            </ion-card-header>
            <ion-card-content>
              <p>
                Igual que con cualquier otra bici de Factory Outlet, te ofrecemos para éstas de la categoría 2 la misma garantía que damos en cualquier bici de serie. Incluso estas bicis normalmente han sido montadas por nuestro...
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
