<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Bienvenido/a</ion-card-subtitle>
      <ion-card-title>Centro Comercial de Teo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Aquí puedes ver nuestras mejores ofertas y consultar el tiempo para que
        cojas el paraguas o las gafas de sol cuando nos visites.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Categorías</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="bicycle"></ion-icon>
      <ion-label>Deporte</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="musical-notes"></ion-icon>
      <ion-label>Música</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon
        slot="start"
        color="medium"
        name="logo-game-controller-b"
      ></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="volume-mute"></ion-icon>
      <ion-label>Sonido</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
