ion-slide {
  background-color: #fff;
  color: #000;
  /* height: 50vh; */
  flex-direction: column;
}
ion-card {
  width: 65%;
}
.tmax {
  color: red;
  font-size: 3em;
}
.tmin {
  color: rgb(92, 161, 218);
  font-size: 2em;
}
.descripcion {
  color: #000;
  font-weight: 300;
}
.card-weather img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
